<template>
  <span
    class="nav-link top-nav__login underline cursor-pointer hover:text-primary mr-2"
    @click="loginModal = true"
  >
    Log in
  </span>
  <UiModal v-model="loginModal" @close="loginModal = false">
    <div>
      <div class="reg__popup-block">
        <div class="popup__content">
          <h3>Войти через:</h3>
          <div class="reg__social-links">
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="reg__checker">
            <div class="reg__link"><a href="#">Регистрация</a></div>
            <div class="login__link"><a href="#">Вход</a></div>
          </div>
          <div class="form__reg-email-wrapper">
            <form class="reg__email-input">
              <label>Phone</label>
              <input placeholder="" name="phone" type="phone" />
              <div class="reg__button-green">
                <button type="submit">Далее</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </UiModal>
</template>
<script setup>
const loginModal = ref(false)
</script>
