.form__task-input.five__step-textarea textarea{
    color: #828282;
    border: 1px solid #d9d9d9;
    width: 100%;
}

@media (max-width: 576px) {
    .section__layout-container.five__step-container {
        padding-bottom: 0;
        margin-top: 0;
    }
    .form__create-task-title.five__step-title {
        margin-top: unset;
        margin-left: unset;
    }
    .task__name.form__five-step {
        margin-left: 0;
    }
    .adresess__link {
        color: #828282;
        font-size: 10px;
        text-align: start;
        margin-bottom: -5px;
    }
    .form__task-input.five__step-textarea {
        margin-bottom: 0; 
    }
    .form__task-input.five__step-textarea textarea{
        font-size: 10px;
        border-radius: 5px;
        padding-top: 8px;
        padding-left: 9px;

    }
    .private__info-link {
        text-align: right;
        margin-bottom: 25px;  
    }  
    .private__info-link a {
        font-size: 12px;
        color: #222224;
        text-decoration: underline;
    } 
    .create__task-btn-5step{
        margin-top: 96px;
    }

    
}
