
.gratitude-bg {
	background: #ccc;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0; 
}
.gratitude-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.gratitude__item {
	background: #fff;
	width: 680px;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 107px 66px;
	border-radius: 20px;
	position: relative;
}
.gratitude__title {
	position: relative;
	top:  -18px;
	margin-bottom: 53px;
}
.gratitude__title h3{
font-size: 28px;
font-weight: 700;
line-height: 33.6px;
color:  #222224;
margin-bottom: 20px;
}
.gratitude__subtitle {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	color: #222224;
	text-align: center;
}
.gratitude__btn-create-task {
	margin-bottom: 20px;
}
.gratitude__btn-create-task button{

font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
color:  #fff;
padding: 18px 57px;
background: #27B83E;
border-radius: 10px;
border:  none;


}
.gratitude__btn-take-task {
	margin-bottom: 20px;
}
.gratitude__btn-take-task button{
	font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
color:  #222224;
padding: 18px 34px;
background: #fff;
border-radius: 10px;
border:  1px solid #d9d9d9;

}
.samples__works a{
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	color: #2D9CDB;
	text-decoration: none;

}
.close__btn{
	position: absolute;
	width: 12px;
	height: 12px;
	top:  15px;
	right: 15px;
	cursor: pointer;
}
@media (max-width: 576px) {
	.gratitude__item {
		padding: 93px 24px 62px;
		border-radius: unset;
	}
	.gratitude__img {
		margin-bottom: 16px;
	}

	.gratitude__title {
		margin-bottom: 49px;
	}
	.gratitude__title h3 {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.gratitude__subtitle {
		font-size: 14px;
	}

	
}