<template>
  <div>
    <div
      :class="[
        'fixed bottom-0 left-0 right-0 sm:inset-0 z-40 flex items-center justify-center transition-all duration-300',
        {
          'invisible opacity-0 pointer-events-none': !modelValue,
        },
      ]"
    >
      <div
        class="fixed inset-0 bg-grey-500 opacity-50"
        @click="closeModal"
      ></div>
      <div
        :class="[
          'relative transform overflow-hidden md:rounded-2xl bg-white text-left shadow-xl transition-all duration-300 w-full flex flex-col max-h-screen',
          modalDialogSizes[size],
          modelValue
            ? 'translate-y-0 md:scale-100'
            : 'translate-y-1/2 md:translate-y-0 md:scale-75',
          { 'h-screen sm:h-auto': fullScreen },
        ]"
      >
        <slot name="header">
          <div class="relative px-5 pt-3 pb-3">
            <div>
              <h6
                class="['text-lg font-medium text-grey-900 m-0', {'text-center' : titleCenter }]"
              >
                {{ title }}
              </h6>
            </div>
            <button
              class="absolute top-3 right-5"
              aria-label="Close"
              @click="closeModal"
            >
              <span class="text-2xl text-grey-200">x</span>
            </button>
          </div>
        </slot>
        <div class="overflow-auto flex-1">
          <div class="p-14 max-h-full">
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const modalDialogSizes = {
  xs: 'sm:max-w-xs',
  sm: 'sm:max-w-sm',
  md: 'sm:max-w-md',
  lg: 'sm:max-w-lg',
  xl: 'sm:max-w-xl',
  '2xl': 'sm:max-w-2xl',
  '3xl': 'sm:max-w-3xl',
  '4xl': 'sm:max-w-4xl',
  '5xl': 'sm:max-w-5xl',
  '6xl': 'sm:max-w-6xl',
  full: 'sm:max-w-full',
}

type TProps = {
  modelValue: boolean
  title?: string
  titleCenter?: boolean
  size?: keyof typeof modalDialogSizes
  fullScreen?: boolean
}

const props = withDefaults(defineProps<TProps>(), {
  size: 'md',
  modelValue: false,
})

const emit = defineEmits<{
  (e: 'update:modelValue', value: boolean): void
}>()

watch(
  () => props.modelValue,
  () => {
    const nuxtMainElement = document.getElementById('__nuxt')
    if (
      props.modelValue &&
      !nuxtMainElement?.classList?.contains('overflow-hidden')
    ) {
      document.getElementById('__nuxt')?.classList.add('overflow-hidden')
    }

    if (!props.modelValue) {
      document.getElementById('__nuxt')?.classList.remove('overflow-hidden')
    }
  }
)

function closeModal() {
  emit('update:modelValue', false)
}
</script>
