.section__layout {
	max-width: 1033px;
	margin: 0 auto;
/*	min-height: 100vh;*/
/*	padding: 46px 50px 60px;*/
}
.section__layout-container {
	display: grid;
	grid-template-columns: 515px 352px;
	grid-template-rows: 657px;
	grid-column-gap: 166px;
	margin-top: 47px;
	margin-bottom: 60px;
	justify-content: center;
}
.form__create-task-1 {
	display: flex;
	flex-flow: column nowrap;
/*	justify-content: space-between;*/
}
.create__task-indicator {
	padding-bottom: 6px;
	border-bottom:  4px solid #27B83E;
	margin-bottom: 44px;
	position: relative;
}
.create__task-indicator:before {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  border-bottom: 4px solid #d9d9d9;
  width: calc(100% - 17%);
}
.create__task-indicator-second {
	padding-bottom: 6px;
	border-bottom:  4px solid #27B83E;
	margin-bottom: 44px;
	position: relative;
}
.create__task-indicator-second:before {
	content: '';
	position: absolute;
	top: 100%;
	right: 0;
	border-bottom: 4px solid #d9d9d9;
	width: calc(100% - 33%);
}
.create__task-indicator-third {
	padding-bottom: 6px;
	border-bottom:  4px solid #27B83E;
	margin-bottom: 44px;
	position: relative;
}
.create__task-indicator-third:before {
	content: '';
	position: absolute;
	top: 100%;
	right: 0;
	border-bottom: 4px solid #d9d9d9;
	width: calc(100% - 43%);
}
.create__task-indicator-fourth {
	padding-bottom: 6px;
	border-bottom:  4px solid #27B83E;
	margin-bottom: 44px;
	position: relative;
}
.create__task-indicator-fourth:before {
	content: '';
	position: absolute;
	top: 100%;
	right: 0;
	border-bottom: 4px solid #d9d9d9;
	width: calc(100% - 57%);
}
.create__task-indicator-fifth {
	padding-bottom: 6px;
	border-bottom:  4px solid #27B83E;
	margin-bottom: 44px;
	position: relative;
}
.create__task-indicator-fifth:before {
	content: '';
	position: absolute;
	top: 100%;
	right: 0;
	border-bottom: 4px solid #d9d9d9;
	width: calc(100% - 71%);
}
.create__task-indicator-sixth {
	padding-bottom: 6px;
	border-bottom:  4px solid #27B83E;
	margin-bottom: 44px;
	position: relative;
}
.create__task-indicator-sixth:before {
	content: '';
	position: absolute;
	top: 100%;
	right: 0;
	border-bottom: 4px solid #d9d9d9;
	width: calc(100% - 86%);
}
.task__indicator-content {
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	color: #828282;
}
.form__create-task-title {
	font-size: 28px;
	font-weight: 700;
	line-height: 34px;
	color: #222224;
	margin-bottom: 29px;
}
.task__name {
	
}
.form__task-label {
font-size: 14px;
font-weight: 400;
line-height: 17px;
margin-bottom: 3px;
}
.form__task-input {
	width: 100%;
	margin-bottom: 15px;
}
.form__task-input input {
	background: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	padding: 8px 21px 8px 40px;
	width: 100%;
}
.categories__sample-link {
	color: #222224;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	margin-bottom: auto;
}
.forward__btn {
	
}
.create__task__btn {
	margin-top: auto;
}
.create__task__btn  .first__btn-step {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	padding: 16px 234px;
	color: #fff;
	display: inline-block;


}
.create__task-info-panel {
	background: #F5F1FF;
	border: none;
	border-radius: 20px;
	padding: 126px 47px;
	height: 100%;

}
.task__info-panel-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	color: #222224;
	margin-bottom: 5px;
}
.task__info-panel-subtitle {
	margin-bottom: 30px;
	color: #828282;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}
.task__info-panel-btn button {
	border: 1px solid #828282;
	border-radius: 10px;
	background: #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	color: #000;
	padding: 8px 18px;
	display: inline-block;

}
@media(max-width: 1050px) {
	.section__layout-container {
		grid-column-gap: 30px;

	}

}
@media(max-width: 925px) {
	.section__layout-container {
		grid-template-columns: 1fr 1fr;
		/*grid-template-rows: 657px;*/
		grid-column-gap: 30px;
		padding: 30px;

	}
	.create__task__btn  .first__btn-step {
		padding: 16px 100px;
	}
}
@media(max-width: 770px) {
	.section__layout-container {
		grid-template-columns:  1fr;
		/*grid-template-rows: 657px;*/
		/*grid-column-gap: 30px;*/
		/*padding: 30px;*/

	}
	.create__task-info-panel {
		display: none;
	}
}