@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Обычный */
@font-face {
    font-family: 'Lato';
    src: url(/fonts/lato/Lato-Regular.ttf);
}

/* Жирный */
@font-face {
    font-family: 'Lato bold';
    src: url(/fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato black';
    src: url(/fonts/lato/Lato-Black.ttf);
}

/*vars*/
:root {
    --base-blue-color:  #292B42;
    --base-text-color:  #222224;

}


/* common */
body  {
    font-family: 'Lato', sans-serif;
    /* outline: 0.1px solid rosybrown; */

}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
/* mixins */
.section-title__wrap {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 60px;
    margin-bottom: 60px;
}
.section-title__head {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
}
.section-title__subhead {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #222224;
}
.light-top-menu {
    background: #fff!important;
}

.done__for-check {
    background: #b9e2c4;
}