@media(max-width:  1200px) {
	.top-banner {
		margin-bottom: 27px;
		background-size: 400px;
		background-position-x: right;
	}
}

@media(max-width:  1000px) {
	.top-banner {
		margin-bottom: 27px;
		background-size: 300px;
		background-position-x: right;
	}
}

@media(max-width:  750.98px) {
	.top-banner {
		margin-bottom: 27px;
		background-size: 200px;
		background-position-x: center;
	}
	.top-banner__header {
		font-size: 22px;
		font-weight: 900;
		line-height: 26.4px;
		letter-spacing: 0em;
	}
	.top-banner__content-box {
		/*display: flex;*/
		/*flex-flow: column nowrap;*/
		padding-top: 36px;
		align-items:  stretch;
	}
	.top-banner__head {
		text-align: center;
		/*margin-bottom: 12px;	*/
	}
	.top-banner__description {
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		letter-spacing: 0em;
		margin-bottom: 171px;
		max-width: 65%;
		margin-left: auto;
		margin-right: auto;
	}
	.top-banner__form {
		/*margin-bottom: 24px;*/
		display: inline-block;
		width: 92%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}
	.top__banner-form__search {
	}
	.top__banner-input-group {
		margin-bottom: 23px;
	}
	.top__banner-search {
		border-radius: 15px;
		/*padding: 11px 13px 12px 16px;*/
	}
	.top__banner-search::placeholder{
		font-size: 12px;
		line-height: 14px;
	}
	.top__banner-search__btn {
		font-size: 10px;
		font-weight: 700;
		line-height: 12px;
		letter-spacing: 0em;
		border-radius: 7px;
		padding: 5px 13px 6px 14px;
		top:  8px;
	}
	.top-banner__suggest {
		display: flex;
	}
	.suggest__help {
		display: none;
	}
	.suggest__link {
		display: inline-block;
		margin-bottom: 18px;
	}
	.suggest__link a{
		font-size: 12px;
		font-weight: 400;
		line-height: 14.4px;
		letter-spacing: .1px;
		text-align: center;
		padding: 7px 11px 8px;
		display: inline-block;
	}

	.accomplish__wrap {
		padding: 0 10px;
	}

	.services {
		margin-top: 30px;
		margin-bottom: 70px;
	}

}