<template>
  <div>
    <section class="main-alltasks-wrap">
      <div class="alltasks-bg">
        <div class="section__alltasks-content">
          <div class="checkout__alltask-btn-group">
            <div class="alltasks__btn">
              <button>Все</button>
            </div>
            <div class="recomendtasks__btn">
              <button>Рекомендованные</button>
            </div>
          </div>
          <h2 class="alltasks-head">
            <span class="bg-yellow">Все задания</span>
          </h2>
          <form class="alltasks-form__search">
            <div class="tasks__input-group">
              <input
                class="tasks-search rounded-xl border border-primary"
                type="text"
                name="keywords"
                placeholder="Поиск по ключевым словам"
              />
              <div class="all__tasks-btn-search">
                <button class="alltasks-search__btn bg-green">Найти</button>
              </div>
              <div class="all__tasks-slider-horizontal">
                <img src="/images/alltasks/slider.horizontal.3.svg" />
              </div>
            </div>
            <div class="alltask-links">
              <div class="counter-tasks">
                Найдено &nbsp;
                <span class="counter-tasks__number"> 9 422 </span>&nbsp;задания
              </div>
              <div class="showonmap__link">
                <a href="#">Показать на карте</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section class="all__tasks-list">
      <div class="section__layout-set">
        <div class="section__alltask-list-wrapper">
          <ul class="task-parameters">
            <li class="task-parameters__item task-block">
              <nuxt-link :to="{ name: 'find-tasks-task' }">
                <div class="task__params-content">
                  <div class="taskblock-item">
                    <div class="item__task-title-name item__task-line">
                      <h3 class="taskblock-head">Ремонт монитора</h3>
                    </div>
                    <div class="item__task-adress-name item__task-line">
                      <div class="task-adress">район Метрогородок, Москва</div>
                      <div class="task-author"><a href="#">Константин</a></div>
                    </div>
                    <div class="item__task-date-start item__task-line">
                      <div class="task-data">Начать 2 февраля, 19:00</div>
                      <div class="task-author__reviews-counter">
                        Нет отзывов
                      </div>
                    </div>
                    <div class="task__price-params">
                      <div class="task-price">
                        до 1500 &nbsp;<span>&#8381;</span>
                      </div>
                    </div>
                  </div>
                </div>
              </nuxt-link>
            </li>
            <li class="task-parameters__item task-block">
              <div class="task__params-content">
                <div class="taskblock-item">
                  <div class="item__task-title-name item__task-line">
                    <h3 class="taskblock-head">Ремонт монитора</h3>
                  </div>
                  <div class="item__task-adress-name item__task-line">
                    <div class="task-adress">район Метрогородок, Москва</div>
                    <div class="task-author"><a href="#">Константин</a></div>
                  </div>
                  <div class="item__task-date-start item__task-line">
                    <div class="task-data">Начать 2 февраля, 19:00</div>
                    <div class="task-author__reviews-counter">Нет отзывов</div>
                  </div>
                  <div class="task__price-params">
                    <div class="task-price">
                      до 1500 &nbsp;<span>&#8381;</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="task-parameters__item task-block">
              <div class="task__params-content">
                <div class="taskblock-item">
                  <div class="item__task-title-name item__task-line">
                    <h3 class="taskblock-head">Ремонт монитора</h3>
                  </div>
                  <div class="item__task-adress-name item__task-line">
                    <div class="task-adress">район Метрогородок, Москва</div>
                    <div class="task-author"><a href="#">Константин</a></div>
                  </div>
                  <div class="item__task-date-start item__task-line">
                    <div class="task-data">Начать 2 февраля, 19:00</div>
                    <div class="task-author__reviews-counter">Нет отзывов</div>
                  </div>
                  <div class="task__price-params">
                    <div class="task-price">
                      до 1500 &nbsp;<span>&#8381;</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="task-parameters__item task-block">
              <div class="task__params-content">
                <div class="taskblock-item">
                  <div class="item__task-title-name item__task-line">
                    <h3 class="taskblock-head">Ремонт монитора</h3>
                  </div>
                  <div class="item__task-adress-name item__task-line">
                    <div class="task-adress">район Метрогородок, Москва</div>
                    <div class="task-author"><a href="#">Константин</a></div>
                  </div>
                  <div class="item__task-date-start item__task-line">
                    <div class="task-data">Начать 2 февраля, 19:00</div>
                    <div class="task-author__reviews-counter">Нет отзывов</div>
                  </div>
                  <div class="task__price-params">
                    <div class="task-price">
                      до 1500 &nbsp;<span>&#8381;</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="task-parameters__item task-block">
              <div class="task__params-content">
                <div class="taskblock-item">
                  <div class="item__task-title-name item__task-line">
                    <h3 class="taskblock-head">Ремонт монитора</h3>
                  </div>
                  <div class="item__task-adress-name item__task-line">
                    <div class="task-adress">район Метрогородок, Москва</div>
                    <div class="task-author"><a href="#">Константин</a></div>
                  </div>
                  <div class="item__task-date-start item__task-line">
                    <div class="task-data">Начать 2 февраля, 19:00</div>
                    <div class="task-author__reviews-counter">Нет отзывов</div>
                  </div>
                  <div class="task__price-params">
                    <div class="task-price">
                      до 1500 &nbsp;<span>&#8381;</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="alltasks__pagination-block">
            <div class="alltasks__pagination-title">
              <span>Просмотрено 50 из 80 заданий</span>
            </div>
            <div class="alltasks__pagination-btn">
              <button>Show more...</button>
            </div>
          </div>
        </div>
        <div class="all__tasks-sidebar">
          <div class="form__all-task-sidebar">
            <form class="all__task-form">
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Installation of ppliances</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Repair of household appliances</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Legal services</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Beauty and health</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Apple Repair</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Promoter Services</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Saint Petersburg</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Ekaterinburg</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Auto repair</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Education</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Work on </span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Novosibirsk</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Nizhny Novgorod</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Cleaning</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Help on the road</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Computer Repair</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Psychologists</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Electronics repair</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Repair and tailoring</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Household staff</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Household repairs</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Help from freelancers</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Cargo transportation</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Photo and video services</span>
              </label>
              <label class="all__tasks-label">
                <input
                  class="input__second-step"
                  type="radio"
                  name="select__place"
                /><span>Courier services</span>
              </label>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
