<template>
  <div>
    <section class="section__showtaskbyid">
      <div class="showtaskbyid__wrap">
        <div class="showtaskbyid__setbox">
          <div class="task__card-content">
            <h3 class="showtask-head">
              Доработать дизайн мобильного приложения
            </h3>
            <div class="showtask-price">
              <p>до &nbsp;<span>45000 &nbsp;</span><span>&#8381;</span></p>
              <span class="task__condition">Открыто </span>
            </div>
            <div class="showtask-condition">
              <div class="showtask__status-bar">
                <span class="task__condition">Открыто</span
                ><span class="status-bar__status">Создано 5 дней назад</span
                ><span class="task__show-count">
                  <img src="/images/showtaskbyid/eye.svg" /><span
                    >112
                  </span></span
                ><span class="showtask__category"
                  >Разработка мобильных приложений</span
                >
              </div>
            </div>
            <div class="showtask-block__description">
              <div class="task__params">
                <div class="descr__points">Адрес</div>
                <div class="descr__set">Виртуальное задание</div>
              </div>
              <div class="task__params">
                <div class="descr__points">Начать</div>
                <div class="descr__set">20 апреля 2023, 08:00</div>
              </div>
              <div class="task__params">
                <div class="descr__points">Завершить</div>
                <div class="descr__set">20 мая 2024, 23:00</div>
              </div>
              <div class="task__params">
                <div class="descr__points">Бюджет</div>
                <div class="descr__set">Небольшой - до 40 000 &#8381;</div>
              </div>
              <div class="task__params">
                <div class="descr__points">Оплата задания</div>
                <div class="descr__set">
                  Напрямую исполнителю без гарантий и компенсаций
                </div>
              </div>
              <div class="task__detail-description">
                <div class="descr__points">Нужно</div>
                <div class="descr__set">
                  Необходимо улучшить внешний вид существующего андроид
                  приложения wechats и подобрать фоновый рисунок, переделать
                  кнопи и др. Работа выполняется путем переделки существующих
                  дополнительных стилей и так далее и тому подобное. Подробные
                  инструкции в телеграмм канале или при личной встрече
                </div>
              </div>
              <div class="showtask__response-btn">
                <button>Откликнуться</button>
              </div>
            </div>
          </div>
          <div class="task__card-user-info">
            <div class="customer__info-block">
              <div class="task__id-block">Задание <span>№ 10986724</span></div>
              <div class="task__customer-name">Заказчик этого задания</div>
              <div class="customer-info">
                <div class="showtask-customer__photo">
                  <img
                    class="showtask-customer__avatar"
                    src="/images/showtaskbyid/avatar.svg"
                  />
                </div>
                <div class="showtask-customer__info">
                  <div class="customer__name">Wolfgang</div>
                  <div class="reviews__counter">
                    <img src="/images/showtaskbyid/hand.thumbsup.svg" /><span
                      >393</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script></script>
