.navbar-commom.light__mod {
    background: #fff;
}
.navbar__flexbox.light__mod {
    border-bottom: 1px solid #f0f0f0;
}
.nav-item, .nav-item.light__mod  {
    list-style: none;
}
.nav-item.light__mod a{
    color: #222224;
}
.light__mod.reg-span::before{
    color: #222224;
}

@media(max-width: 1250px){
    .navbar__wrap {
        max-width: 1000px;
    }
}
@media(max-width: 1050px){
    .navbar__wrap {
        max-width: 850px;
    }
}
@media(max-width: 950px){
    .navbar__wrap {
        max-width: 700px;
    }
}